[Unit]
Description=Gunicorn instance to serve web_dynamic/2-hbnb.py
After=network.target

[Service]
User=ubuntu
Group=www-data
WorkingDirectory=/home/ubuntu/AirBnB_clone_v4
ExecStart=/usr/local/bin/gunicorn --workers 3 --bind 0.0.0.0:5001 web_dynamic.2-hbnb:app

[Install]
WantedBy=multi-user.target